<div class="unit-props-container">
  <div class="unit-props">
    ID: {{selectedUnit?.id}}
  </div>
  <div class="unit-props">
    Name: {{selectedUnit?.name}}
  </div>
  <div class="unit-props">
    Description: {{selectedUnit?.description}}
  </div>
  <div class="unit-props">
    Min. Required Age: {{selectedUnit?.age}}
  </div>
  <div class="unit-props">
    Wood Cost: {{selectedUnit?.cost?.Wood}}
  </div>
  <div class="unit-props">
    Food Cost: {{selectedUnit?.cost?.Food}}
  </div>
  <div class="unit-props">
    Gold Cost: {{selectedUnit?.cost?.Gold}}
  </div>
  <div class="unit-props">
    Build Time: {{selectedUnit?.build_time}}
  </div>
  <div class="unit-props">
    ReloadTime: {{selectedUnit?.reload_time}}
  </div>
  <div class="unit-props">
    Hit Points: {{selectedUnit?.hit_points}}
  </div>
  <div class="unit-props">
    Attack: {{selectedUnit?.attack}}
  </div>
  <div class="unit-props">
    Accurancy: {{selectedUnit?.accuracy}}
  </div>
</div>