@import 'abstracts/variables';
@import 'abstracts/colors';

.app-header {
  height: $header-height;
  background-color: $header-bgcolor;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: right;

  .nav {
    width: 200px;

    .nav-link {
        margin-right: 40px;
        display: inline-block;
    }
  }
}