$table-border: 2px solid rgb(140 140 140);
$white: #FFFFFF;
$body-bgcolor: #384959;
$thead-bgcolor: rgb(24, 38, 44);
$tdata-bgcolor: 1px solid rgb(57, 56, 56);
$table-zebra-bgcolor: rgb(24, 38, 44);
$scroll-bar-bgcolor: darkgrey;
$header-bgcolor: #171d25;
$togglr-button-bg: #00dddd;